<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Success tick SVG is taken from https://stackoverflow.com/questions/41078478/css-animated-checkmark -->
    <style>
      .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
      }

      .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 4% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill 0.4s ease-in-out 0.4s forwards,
          scale 0.3s ease-in-out 0.9s both;
      }

      .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
      }

      @keyframes stroke {
        100% {
          stroke-dashoffset: 0;
        }
      }
      @keyframes scale {
        0%,
        100% {
          transform: none;
        }
        50% {
          transform: scale3d(1.1, 1.1, 1);
        }
      }
      @keyframes fill {
        100% {
          box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
      }
    </style>
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="fluid text-center">
      <nav class="navbar navbar-dark bg-primary text-center">
        <!-- Navbar content -->
        <div class="container text-center">
          <a class="navbar-brand" href="/">URL Shortener</a>
        </div>
      </nav>
    </div>
    <div class="container">
      <% if (message && message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <form action="/shorten" method="POST" class="my-4 form-inline row">
        <label for="fullUrl" class="sr-only">URL</label>
        <input
          required
          placeholder="URL"
          type="url"
          name="fullUrl"
          class="form-control mr-2 ml-2 col"
          id="fullUrl"
          value="<%= prevData && prevData.fullUrl.length > 0 ? prevData.fullUrl[0] : ''%>"
        />
        <div class="w-100 d-md-none mt-2 d-xs-block"></div>
        <input
          placeholder="Slug (optional)"
          type="text"
          name="slug"
          class="form-control mr-2 ml-2 col"
          id="slug"
          value="<%= prevData && prevData.slug.length> 0 ? prevData.slug[0] : ''%>"
        />
        <button class="btn btn-success mr-2 font-weight-bold" type="submit">
          <i class="fa fa-link"></i>
          <span>Shorten</span>
        </button>
      </form>

      <% if ((!message || message.length <= 0) && shortUrl && shortUrl.length >
      0) { %>
      <div class="container justify-content-center text-center">
        <svg
          class="checkmark"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 52 52"
        >
          <circle
            class="checkmark__circle"
            cx="26"
            cy="26"
            r="25"
            fill="none"
          />
          <path
            class="checkmark__check"
            fill="none"
            d="M14.1 27.2l7.1 7.2 16.7-16.8"
          />
        </svg>
        <h4>
          Shortlink Successfully Created -
          <br />
        </h4>
        <span>
          <a href="<%=shortUrl %>" target="_blank"><%=shortUrl %></a>
        </span>
      </div>
      <% } %>

      <!-- <div class="row justify-content-center">
        <div class="col table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="table-primary">
              <tr>
                <th>Full URL</th>
                <th>Slug</th>
                <th>Clicks</th>
              </tr>
            </thead>
            <tbody>
              <%# shortUrls.forEach(shortUrl => {%>
              <tr>
                <td>
                  <a href="<%#=shortUrl.fullUrl %>" target="_blank"
                    ><%#=shortUrl.fullUrl %></a
                  >
                </td>
                <td>
                  <a href="<%#=shortUrl.shortUrl %>" target="_blank"
                    ><%#=shortUrl.shortUrl %></a
                  >
                </td>
                <td><%#=shortUrl.clicks %></td>
              </tr>
              <%# }) %>
            </tbody>
          </table>
        </div>
      </div> -->
      <div
        class="
          footer
          fixed-bottom
          text-center
          bg-dark
          text-light
          p-2
          font-weight-bold
        "
      >
        <span class="sr-only">
          This site is built with passion by Sai Phani
        </span>
        <span>
          Made with ❤️ and passion by
          <a
            style="color: #03a9f4; text-decoration: underline"
            href="https://www.linkedin.com/in/saiphani1998/"
          >
            Phani
          </a>
        </span>
      </div>
    </div>
  </body>
</html>
